<div class="containe">
    <div class="row">
        <div class="col text-center">
            <img src="img/yuta.jpg" alt="my-about" class="img-thumbnail rounded-circle" width="200px">
            <h1 class="display-4">Ahmad Zuhril Fahrizal</h1>
            <p class="lead">Mahasiswa | Content Crator</p>
        </div>
    </div>
</div>